﻿[data-control] {
    text-transform: uppercase;
    font-weight: 600;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    cursor: pointer;
    padding: 15px 20px;
}

[data-accordion] > [data-control]:before {
    content: "\F00D";
    position: absolute;
    right: 15px;
    top: 16px;
    color: #888;
    font: normal normal normal 14px/1 FontAwesome;
    transition: all 0.2s ease-in;
    transform: rotate(45deg);
}

[data-accordion].open > [data-control]:before {
    content: "\F00D";
    position: absolute;
    right: 15px;
    top: 16px;
    color: #888;
    font: normal normal normal 14px/1 FontAwesome;
    transform: rotate(0deg);
}