﻿.banner-cover {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    position: absolute;
    z-index: 3000;
    opacity: 0.9;
}

@media (max-width: 767px) {

    .banner-cover {
        margin: 0px;
    }
}

.banner-cover svg {
    transform: translateY(100px);
}

.banner-cover g {
    transform: translateX(calc(50% - 80px));
}

.logo-bg {
    stroke-width: 2px;
    stroke-dasharray: 50;
    stroke: #285166;
    animation: fill 2s ease-in-out infinite;
}

.partial-1, .partial-2 {
    animation: fillb 2s ease-in-out infinite;
}

.partial-3 {
    animation: fillc 2s ease-in-out infinite;
}



@keyframes fill {
    50% {
        fill: #285166;
        stroke-dasharray: 250;
    }

    100% {
        fill: #fff;
        stroke-dasharray: 50;
    }
}

@keyframes fillb {
    50% {
        fill: #fff
    }

    100% {
        fill: #4A8FB3
    }
}

@keyframes fillc {
    50% {
        fill: #4A8FB3
    }

    100% {
        fill: #285166
    }
}