﻿.wrapper-iframe {
    display: flex;
    width: 100%;
    height: 100%;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    position: absolute;
    margin: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 200;
    align-items: center;
    justify-content: center;
}

    .wrapper-iframe .loading {
        color: #fff;
        text-align: center;
    }

.popup-iframe {
    display: flex;
    min-height: 100%;
    min-width: 100%;
    justify-content: center;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

    .popup-iframe iframe {
        border: 0;
        height: 100%;
        flex: 1;
    }

@media only screen and (min-width: 768px) {
    .popup-iframe {
        display: flex;
        min-height: unset;
        height: 70%;
        max-height: 470px;
        min-width: 400px;
        justify-content: center;
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}
