﻿.double-inputs {
    position: relative;
    margin: 0;
    text-align: center;
    white-space: nowrap; /*fix for 'required' elements*/
    font-size: 0;
}

    .double-inputs:after {
        content: "";
        display: block;
        clear: both;
    }

    