﻿.check-label {
    font-size: 16px;
    cursor: pointer;
}

/* 
    Autocomplete 

    ** Com a migração para SASS, criar uma partial em components: _autocomplete.scss **
*/

.autocomplete .autocomplete__container {
    display: none;
    border: 1px solid #ddd;
    box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.2);
    position: absolute;
    top: 100px;
    background: #fff;
    z-index: 99999;
    width: 210px;
}

.autocomplete .autocomplete__input.active {
    border-bottom: 2px solid #4a8eb3;
}

.autocomplete .autocomplete__city {
    cursor: pointer;
    padding: 8px;               
    transition: all 0.1s linear;
}

.autocomplete .autocomplete__city:hover,
.autocomplete .autocomplete__city.active {
    background: #eee;
}