﻿.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.center-2 {
    position: relative;
}

html, body, .viewport {
    width: 100%;
    height: 100%;
    margin: 0;
}

html.open,
body.open {
    overflow-y: hidden;
}