﻿.pre-header {
    background-color: #4a8eb3;
    color: white;
}

.header-upper {
    border-bottom: none;
}

.header-logo {
    float: left;
    margin: 0;
    margin-top: 18px;
}

    .header-logo a {
        position: absolute;
        z-index: 10;
    }
    
.header-upper-top {
    float: right;
}

.header-links-left {
    float: left;
}

.header-links-right {
    float: right;
}

.header-lower {
    padding: 0;
    padding-bottom: 10px;
}

#topcartlink {
    background: none;
}

.search-box {
    padding: 0;
}

    .search-box .search-box-button {
        color: #686868; 
        background: #E5E5E5;
        font-weight: 600;
        -webkit-border-bottom-right-radius: 5px;
        border-bottom-right-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        border-top-right-radius: 5px;
    }

        .search-box .search-box-button:hover {
            background: #d6d6d6;
        }

.search-box-text {
    -webkit-border-bottom-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    -webkit-border-top-left-radius: 5px !important;
    border-top-left-radius: 5px !important;
}

    .search-box-text::-webkit-input-placeholder { /* Chrome */
        color: #a9a9a9;
    }

    .search-box-text:-ms-input-placeholder { /* IE 10+ */
        color: #a9a9a9;
    }

    .search-box-text::-moz-placeholder { /* Firefox 19+ */
        color: #a9a9a9;
        opacity: 1;
    }

    .search-box-text:-moz-placeholder { /* Firefox 4 - 18 */
        color: #a9a9a9;
        opacity: 1;
    }

.header-links span, 
.header-links a {
    font-size: 13px;
}

    .header-links a:hover {
        color: #eee;
    }

@media (min-width: 1001px) {
    .header-links-wrapper {
        width: 587px;
    }
}

@media (min-width: 481px) {
    .search-box input.search-box-text {
        width: 504px;
    }
}

@media (max-width: 1000px) {

    .header-mobile {
        align-items: center;
        justify-content: flex-start;
        padding: 0 20px;
        margin-top: 8px;
    }

        .header-mobile .header-logo {
             width: initial; 
        }

        .header-mobile .right-slide {
            align-items: flex-end;
            justify-content: flex-end;
            margin-left: auto;
        }

        .header-mobile .left-slide {
            width: 16%;
            align-items: flex-start;
            justify-content: flex-start;
        }

    .header-mobile .header-logo {
        width: 100%;
    }

        .header-mobile .header-logo:first-child {
            width: initial;
        }

    .header-lower-mobile .header-lower {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
}