﻿.item-box {
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.12), 0 0 6px 0 rgba(0,0,0,.04);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 10px;
}

    .item-box .picture {
        margin: 0;
    }

        .item-box .picture a {
            position: relative;
        }

        .item-box .picture a img {
            margin: 0;
            position: relative; 
        }

@media (min-width: 769px) {

    .product-list .item-box .picture + .details {
        margin: 0;
        float: left;
    }

    .product-list .details {
        width: 30%;
        border-right: 2px solid #f3f3f3;
    }

    .product-list .item-box .picture {
        float: left;
        width: 23%;
        display: flex;
        align-items: center;
    }

    .product-list .item-box .product-item {
        display: flex;
    }

        .product-list .item-box .product-item .details {
            display: flex;
            flex-flow: row wrap;
        }
}

@media (min-width: 1367px) {

    .product-list .item-box .picture {
        float: left;
        width: 25%;
    }
}

@media (max-width: 769px) {

    .item-box {
        margin: 0 0 20px;
    }
}

@media (min-width: 481px) and (max-width: 769px) {
    .item-box {
        width: 49%;
        margin: 0 0.5% 20px;
    }
}