﻿.menu-mobile {
    padding: 1rem;
}

    .menu-mobile * {
        padding: 0;
        margin: 0;
    }

    .menu-mobile h1 {
        line-height: 2rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }

    .menu-mobile .header-links ul > li {
        display: block;
        margin: 0;
    }

    .menu-mobile .header-links-right {
        float: none;
    }

    .menu-mobile #topcartlink {
        margin: 0;
        padding: 0;
    }