﻿@model IEnumerable<Nop.Core.Domain.Projects.ProjectBestTopic>

<h1>Melhores Tópicos</h1>
<table class="table table-bordered table-hover table-responsive table-striped">
    <thead>
        <tr>
            <th>
                Rank
            </th>
            <th>
                Tópico
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(a => a.Order))
        {
            <tr>
                <td>
                    @item.Order
                </td>
                <td>
                    @item.TopicName
                </td>
            </tr>
        }
    </tbody>
</table>
