﻿@model Nop.Admin.Models.Projects.ProjectModel
@{
    ViewBag.Title = "Create";
    var selectCategories = ViewBag.AvailableCategories as List<SelectListItem>;
    var selectBrands = ViewBag.AvailableBrands as List<SelectListItem>;

    Html.AppendCssFileParts("~/Administration/Content/tagEditor/jquery.tag-editor.css");
    Html.AppendScriptParts("~/Administration/Scripts/kendo/2014.1.318/kendo.multiselect.min.js");
    Html.AppendScriptParts("~/Administration/Scripts/tagEditor/jquery.tag-editor.min.js");
    Html.AppendScriptParts("~/Administration/Scripts/tagEditor/jquery.caret.min.js");
    var join = string.Join(",", Model.CategoriesId);
    Html.SetActiveMenuItemSystemName("Project List");
}

<style>
    form {
        padding: 0 25px;
    }

    .form-group {
        clear: both;
        padding: 15px 0;
    }

    .remove-image {
        margin-bottom: 25px;
    }
</style>

@using (Html.BeginForm("Edit", "Project", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(a => a.Id)
    @Html.HiddenFor(a => a.PromobFilePath)
    <input type="hidden" id="categoriesId" value="@join" />
    <div class="content-header clearfix">
        <h1 class="pull-left">Edição do projeto: @Model.Name</h1>
    </div>
    <div class="panel-group">
        <div class="panel panel-default panel-popup">

            <div class="panel-body">
                <div class="form-group">
                    <div class="col-sm-3">
                        Nome:
                    </div>
                    <div class="col-sm-9">
                        @Html.NopEditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        Descrição
                    </div>
                    <div class="col-sm-9">
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        Arquivo Promob<br />
                        <a href="~/Admin/Project/DownloadPromob/@Model.Id">Download Promob</a>
                    </div>
                    <div class="col-sm-9">
                        <input type="file" name="PromobFile" id="PromobFile" />
                        @Html.ValidationMessageFor(model => model.PromobFile)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        Imagens
                    </div>
                    <div class="col-sm-9">
                        <input type="file" name="Pictures" id="Pictures" multiple />
                        @Html.ValidationMessageFor(model => model.Pictures)
                        <div class="col-sm-12" style="padding: 20px 0">
                            @{
                                int i = 0;
                                foreach (var picture in Model.ProjectPictures)
                                {
                                    <div class="col-sm-4 remove-image">
                                        <input type="hidden" id="id-@Model.Id-@picture.PictureId" name="PicturesId[@i]" value="@picture.PictureId" />
                                        <img style="width: 100%;" src="@picture.PictureUrl" alt="@Model.Name" />
                                        <i style="font-size: 28px; position:absolute; top: 0; right: 0; color: red; transform: translateY(-50%); cursor: pointer;"
                                           class="glyphicon glyphicon-remove-circle"></i>
                                    </div>
                                    i++;
                                }
                            }
                            <script>
                                $('.glyphicon-remove-circle').on('click', function () {
                                    if (confirm('Você tem certeza que deseja remover essa imagem?')) {
                                        $(this).parent('.remove-image').remove();
                                        var removeImageContainers = $('.remove-image');
                                        for (var i = 0; i < removeImageContainers.length; i++)
                                            removeImageContainers.eq(i).children('[type="hidden"]').attr('name', 'PicturesId[' + i + ']');
                                        return true;
                                    }
                                    return false;
                                });
                            </script>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        Categorias
                    </div>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(model => model.CategoriesId, selectCategories, "Selecione", new { multiple = "multiple", data_role = "multiselect" })
                        @Html.ValidationMessageFor(model => model.CategoriesId)
                        <script>
                            $(document).ready(function () {
                                var multiselect = $('#@Html.FieldIdFor(model => model.CategoriesId)').kendoMultiSelect({
                                    select: function (e) {
                                        var current = this.value();

                                        if (this.dataSource.view()[e.item.index()].value === "0") {
                                            this.value("");
                                        }
                                        else if (current.indexOf("0") !== -1) {
                                            current = $.grep(current, function (value) {
                                                return value !== "0";
                                            });

                                            this.value(current);
                                        }
                                    },
                                    change: function (e) {
                                        if (this.value().length === 0)
                                            this.value(["0"]);
                                    }
                                }).data("kendoMultiSelect");
                                multiselect.value(eval($('#categoriesId').val()));
                            });
                        </script>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">
                        Marcas
                    </div>
                    <div class="col-sm-9">
                        @Html.DropDownListFor(model => model.BrandId, selectBrands, "Selecione", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.BrandId)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="submit" name="save" class="btn bg-blue">
        <i class="fa fa-floppy-o"></i>
        @T("Admin.Common.Save")
    </button>
}