﻿@{
    Layout = "~/Views/Shared/_Root.cshtml";
}

@{
    //current category ID
    int currentCategoryId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("category", StringComparison.InvariantCultureIgnoreCase))
    {
        currentCategoryId = Convert.ToInt32(Url.RequestContext.RouteData.Values["categoryId"].ToString());
    }


    //current manufacturer ID
    int currentManufacturerId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("catalog", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("manufacturer", StringComparison.InvariantCultureIgnoreCase))
    {
        currentManufacturerId = Convert.ToInt32(Url.RequestContext.RouteData.Values["manufacturerId"].ToString());
    }


    //current product ID
    int currentProductId = 0;
    if (Url.RequestContext.RouteData.Values["controller"].ToString().Equals("product", StringComparison.InvariantCultureIgnoreCase) &&
        Url.RequestContext.RouteData.Values["action"].ToString().Equals("productdetails", StringComparison.InvariantCultureIgnoreCase))
    {
        currentProductId = Convert.ToInt32(Url.RequestContext.RouteData.Values["productId"].ToString());
    }
}

@if (IsSectionDefined("Breadcrumb"))
{
    @section Breadcrumb {
        @RenderSection("Breadcrumb")
    } 
}

@if (IsSectionDefined("h1_title"))
{
    @RenderSection("h1_title")
}

<div class="vertical-flex-wrapper">
    <div class="side-2 filter-panel-wrapper flex-wrapper">
        @if (IsSectionDefined("left"))
        {
            @RenderSection("left")
        }
        else
        {
            @Html.Widget("left_side_column_before")
            @Html.Action("CategoryNavigation", "Catalog", new { currentCategoryId = currentCategoryId, currentProductId = currentProductId })
            @Html.Widget("left_side_column_after_category_navigation")
            @Html.Action("ManufacturerNavigation", "Catalog", new { currentManufacturerId = currentManufacturerId })
            @Html.Action("VendorNavigation", "Catalog")
            @Html.Action("RecentlyViewedProductsBlock", "Product", new { productThumbPictureSize = 64 })
            @Html.Action("PopularProductTags", "Catalog")
            @Html.Action("PollBlock", "Poll", new { systemKeyword = "LeftColumnPoll" })
            @Html.Widget("left_side_column_after")
        }
    </div>

    <div class="center-2 display-panel-wrapper flex-wrapper">
        @Html.Widget("main_column_before")

        <div class="banner-cover" style="display: none;">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Camada_1" x="0px" y="0px" viewBox="0 353 759 85" enable-background="new 0 353 759 85" xml:space="preserve">
            <g>
	            <path fill="#FFFFFF" d="M70,356.8c21.7,0,39.2,17.6,39.2,39.2c0,21.7-17.6,39.2-39.2,39.2S30.8,417.7,30.8,396S48.4,356.8,70,356.8   L70,356.8z" class="logo-bg"/>
	            <path fill="#285166" d="M48,402.8c11.8,25.8,36.7,23.3,47.2,9.8c-2.8,1-6.4,1.6-11,1.6c-4.1,0-8.1-1-11.8-3.1   c-3.5-2-6.7-4.9-9.3-8.8l-0.3-0.3c-1.6-2.3-3.5-3.6-5.5-4.1c-1.9-0.5-3.8-0.1-5.6,1.1l-0.2,0.1C50.2,400.2,49.1,401.5,48,402.8   L48,402.8L48,402.8z" class="partial-3"/>
	            <path fill="#4A8FB3" d="M76.1,366.5c-11.5,3.8-21.8,5.9-30-1.2l-0.2-0.2c-1.5,1.2-2.9,2.5-4.2,3.8c0,0.5,0,1,0,1.5   c0.2,12.8,2.3,22.8,5.5,30.6c1-1.1,2-2.3,3.4-3.3l0.2-0.1c2.2-1.5,4.6-1.9,7-1.4c2.3,0.6,4.6,2.2,6.5,4.8l0.2,0.3   c2.5,3.6,5.5,6.4,8.7,8.2c3.4,1.9,7.1,2.9,10.9,2.9c5.3,0,9.2-0.9,11.9-2.1c0.3-0.2,0.7-0.3,0.9-0.5c1.3-2.2,2.2-4.7,2.7-7.4   c1-5.8-2.1-10.2-9.1-6.7c-4.9,2.5-9.7,4.2-11.8-1c-1.6-4.2-0.8-10.4,2.6-15.4c1.6-2.4,3.3-3.8,4.4-6.4   C88.9,365.6,83.4,364.1,76.1,366.5L76.1,366.5z" class="partial-1"/>
	            <path fill="#4A8FB3" d="M69.9,420.3h3.2v7.5c7.2,0.2,12.6,1.7,15.2,3c-1.1,0.6-2.2,1.1-3.4,1.6c-9.7-1.3-19.4-1.2-29,0.3l0,0   c-0.8-0.3-1.6-0.6-2.4-1c1.6-1.4,7.5-3.6,16.4-3.9L69.9,420.3L69.9,420.3z" class="partial-2"/>
            </g>
            </svg>
        </div>

        @RenderBody()

        @Html.Widget("main_column_after")

        <div class="clearfix"></div>
    </div>
</div>
