﻿@model Nop.Web.Models.Catalog.SearchModel

<div data-accordion-group>

    @if (!string.IsNullOrEmpty(Model.q))
    {
        <div class="accordion open" data-accordion>
            <div data-control>@T("Moveleiros.Search.Keyword")</div>
            <div data-content class="city" data-filter="q" data-filter-type="keyword">
                <div class="content-margin">
                    @Html.TextBoxFor(model => model.q, new { @class = "city", placeholder = "Palavra chave" })
                </div>
            </div>
        </div>
    }

    <div class="accordion open accordion-city" data-accordion>
        <div data-control>@T("Moveleiros.Search.City")</div>
        <div data-content class="city" data-filter="city" data-filter-type="city">
            <div class="content-margin autocomplete">
                @Html.TextBoxFor(model => model.City, new { @class = "city autocomplete__input", placeholder = "Ex: São Paulo", data_city = "" })
                <div class="autocomplete__container cities-autocomplete"></div>
                <div class="geo-location-parent">
                    <a href="javascript:void(0);" data-geonotification onclick="MovScripts.getPosition($(this), true); return false;" class="get-location">
                        @T("Moveleiros.Search.MyLocation")
                    </a>
                    <i class="fa fa-spinner fa-spin" style="display: none"></i>
                </div>
            </div>
        </div>
    </div>

    <div name="category" class="accordion open" data-accordion>
        <div data-control>@T("Moveleiros.Search.Category")</div>
        <div data-content data-filter="selcats" data-filter-type="checkbox">
            <div class="accordion-overflow">
                <div class="content-margin">
                    @foreach (var category in Model.CategoriesToShow)
                    {
                        var ix = Model.CategoriesToShow.IndexOf(category);

                        <div data-fixed>
                            <label class="selectable">
                                <input id="selcats_@Model.CategoriesToShow[ix].Id" type="checkbox" value="@Model.CategoriesToShow[ix].Id"
                                       name="selcats" data-label="@category.Name" @(category.Selected ? "checked" : "") />
                                <span class="check-label">@category.Name</span>
                            </label>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    @if (Model.CategoriesToShow.Any(t => t.Selected))
    {
        <div name="subcategory" class="accordion open" data-accordion>
            <div data-control>@T("Moveleiros.Search.SubCategory")</div>
            <div data-content data-filter="selcats" data-filter-type="checkbox">
                <div class="accordion-overflow">
                    <div class="content-margin">
                        @foreach (var category in Model.SubCategoriesToShow)
                        {
                            var ix = Model.SubCategoriesToShow.IndexOf(category);

                            <div data-fixed>
                                <label class="selectable">
                                    <input id="selcats_@Model.SubCategoriesToShow[ix].Id" type="checkbox" value="@Model.SubCategoriesToShow[ix].Id"
                                           name="selcats" data-label="@category.Name" @(category.Selected ? "checked" : "") />
                                    <span class="check-label">@category.Name</span>
                                </label>
                            </div>
                        }
                    </div>
                </div>
            </div>
       </div>
    }
    @{
        var areaShouldBeOpen = !string.IsNullOrEmpty(Model.AreaFrom) || !string.IsNullOrEmpty(Model.AreaTo);
        var areaClass = areaShouldBeOpen ? "open" : "";
    }
    <div class="accordion open" data-accordion>
        <div data-control>@T("Moveleiros.Search.Area")</div>
        <div data-content>
            <div class="content-margin">
                <div class="double-inputs">
                    <span class="area-range">
                        @Html.TextBoxFor(model => model.AreaFrom, new
                        {
                            @class = "area-from",
                            placeholder = "1 m²",
                            data_filter = "AreaFrom",
                            data_filter_type = "number"
                        })

                        @Html.TextBoxFor(model => model.AreaTo, new
                        {
                            @class = "area-to",
                            placeholder = "1 m²",
                            data_filter = "AreaTo",
                            data_filter_type = "number"
                        })
                    </span>
                </div>
            </div>
        </div>
    </div>

    @{
        var priceShouldBeOpen = !string.IsNullOrEmpty(Model.pf) || !string.IsNullOrEmpty(Model.pt);
        var priceClass = priceShouldBeOpen ? "open" : "";
    }
    <div class="accordion open" data-accordion>
        <div data-control>@T("Moveleiros.Search.PriceRange")</div>
        <div data-content>
            <div class="content-margin">
                <div class="double-inputs">
                    <span class="price-range">
                        @Html.TextBoxFor(model => model.pf, new
                        {
                            @class = "price-from",
                            placeholder = "R$ 1,00",
                            data_filter = "pf",
                            data_filter_type = "number",
                            @type = "number"
                        })

                        @Html.TextBoxFor(model => model.pt, new
                        {
                            @class = "price-to",
                            placeholder = "R$ 10.000",
                            data_filter = "pt",
                            data_filter_type = "number",
                            @type = "number"
                        })
                    </span>
                </div>
            </div>
        </div>
    </div>

    @{
        var brandClass = Model.SelBrands != null && Model.SelBrands.Any() ? "open" : "";
    }
    <div class="accordion open" data-accordion>
        <div data-control>@T("Moveleiros.Search.Brand")</div>
        <div data-content data-filter="selbrands" data-filter-type="checkbox">
            <div class="accordion-overflow">
                <div class="content-margin">
                    @foreach (var brand in Model.BrandsToShow)
                    {
                        <div data-fixed>
                            <label class="selectable">
                                <input id="selbrands_@brand.Id" type="checkbox" value="@brand.Id" data-label="@brand.Name"
                                       name="selbrands" @(brand.Selected ? "checked" : "")> <span class="check-label">@brand.Name</span>
                                </label>
                            </div>
                        }
                </div>
            </div>
        </div>
    </div>
</div>