﻿@model ContactUsModel
@using Nop.Web.Models.Common;

@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    //title
    Html.AddTitleParts(T("PageTitle.ContactUs").Text);

    //page class
    Html.AppendPageCssClassParts("html-contact-page");

    //contact
    Html.AppendCssFileParts("~/Themes/Moveleiros/Content/css/contact-page.css");
}

<style>
    body {
        background: #fff;
    }
</style>

<div class="page contact-page">
    <div class="page-title">
        <h1>@T("PageTitle.ContactUs")</h1>
    </div>
    <div class="page-body">
        @Html.Action("TopicBlock", "Topic", new { systemName = "ContactUs" })
        @Html.Widget("contactus_top")
        <div id="contact-us-chat">
        </div>
        @Html.Widget("contactus_bottom")
    </div>
</div>

@if (Html.IsDebug())
{
    <script type="text/javascript">
        var baseChatUrl = 'http://localhost:8080';
        var defaultStoreId = 2;
    </script>
}
else if (Html.IsHomolog())
{
    <script type="text/javascript">
        var baseChatUrl = 'http://chathomolog.moveleiros.com.br';
        var defaultStoreId = 1;
    </script>
}
else
{
    <script type="text/javascript">
        var baseChatUrl = 'https://chat.moveleiros.com.br';
        var defaultStoreId = 8;
    </script>
}