﻿@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
 <!--<![endif]-->
<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <meta name="author" content="">
    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="x-ua-compatible" content="IE=9">
    <!-- Font Awesome -->
    <link href="https://cdn.moveleiros.com.br/lp/stylesheets/font-awesome.css" rel="stylesheet">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    <!--headerIncludes-->
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="https://cdn.moveleiros.com.br/lp/stylesheets/menu.css">
    <link rel="stylesheet" href="https://cdn.moveleiros.com.br/lp/stylesheets/flat-ui-slider.css">
    <link rel="stylesheet" href="https://cdn.moveleiros.com.br/lp/stylesheets/base.css">
    <link rel="stylesheet" href="https://cdn.moveleiros.com.br/lp/stylesheets/skeleton.css">
    <link rel="stylesheet" href="https://cdn.moveleiros.com.br/lp/stylesheets/landings.css">
    <link rel="stylesheet" href="https://cdn.moveleiros.com.br/lp/stylesheets/main.css">
    <link rel="stylesheet" href="https://cdn.moveleiros.com.br/lp/stylesheets/landings_layouts.css">
    <link rel="stylesheet" href="https://cdn.moveleiros.com.br/lp/stylesheets/box.css">
    <link rel="stylesheet" href="https://cdn.moveleiros.com.br/lp/stylesheets/pixicon_.css">
    <link href="https://cdn.moveleiros.com.br/lp/assets/css/animations.min.css" rel="stylesheet" type="text/css" media="all" />

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="https://cdn.moveleiros.com.br/lp/images/favicon.ico">
    <link rel="apple-touch-icon" href="https://cdn.moveleiros.com.br/lp/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://cdn.moveleiros.com.br/lp/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://cdn.moveleiros.com.br/lp/images/apple-touch-icon-114x114.png">

</head>
<body>

    <div id="page" class="page">












        <div class="pixfort_normal_1 pix_builder_bg" id="section_header_3_dark">
            <div class="header_style header_nav_1 dark">
                <div class="container">
                    <div class="sixteen columns firas2">
                        <nav role="navigation" class="navbar navbar-white navbar-embossed navbar-lg pix_nav_1">
                            <div class="containerss">
                                <div class="navbar-header">
                                    <button data-target="#navbar-collapse-02" data-toggle="collapse" class="navbar-toggle" type="button">
                                        <span class="sr-only">Toggle navigation</span>
                                    </button>
                                    <img src="https://cdn.moveleiros.com.br/lp/images/logo.svg" class="pix_nav_logo" alt="">
                                </div>
                                <div id="navbar-collapse-02" class="collapse navbar-collapse">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li class="active propClone"><a data-scroll href="#quemsomos">Quem Somos?</a></li>
                                        <li class="propClone"><a data-scroll href="#nossosclientes">Depoimentos</a></li>
                                        <li class="propClone"><a data-scroll class="" href="#chatform" style="padding-right: 0"><span class="pix_header_button pix_builder_bg">Fale com a Moveleiros</span></a></li>
                                    </ul>
                                </div><!-- /.navbar-collapse -->
                            </div><!-- /.container -->
                        </nav>
                    </div>
                </div><!-- container -->
            </div>
        </div><div class="pixfort_normal_1 creative_video_header" id="section_pix_4">
            <div class="has-video creative_header">
                <div class="mask"></div>
                <div class="pix_video_div section_video">
                    <video autoplay="" poster="https://cdn.moveleiros.com.br/lp/images/video/background_landingpage.jpg" class="bgvid" loop="" muted>
                        <source src="https://cdn.moveleiros.com.br/lp/images/video/background_landingpage.webm" type="video/webm">
                        <source src="https://cdn.moveleiros.com.br/lp/images/video/background_landingpage.mp4" type="video/mp4">
                        <source src="https://cdn.moveleiros.com.br/lp/images/video/background_landingpage.ogv" type="video/ogv">
                    </video>
                </div>
                <div class="section_wrapper clearfix tight-section">
                    <div class="container">
                        <div class="sixteen columns context_style">
                            <div class="title_style ">
                                PENSE DIFERENTE. VAMOS JUNTOS!
                            </div>
                            <div class="subtitle_style">
                                <span class="creative_h_text">
                                    <span class="editContent" style="">
                                        <span class="creative_h_text">
                                            <span class="editContent">
                                                <span class="pix_text">
                                                    Enquanto <strong>Grandes Marketplaces </strong>online
                                                    ignoram milhares de empreendedores e suas lojas
                                                    físicas, <br class="only-large">nós, os Moveleiros, <strong>Ignoramos os Grandes Marketplace</strong>.
                                                </span>
                                            </span>
                                        </span><span class="pix_text"></span>
                                    </span>
                                </span>
                            </div>

                            <div class="note_st">
                                <iframe class="player-style" src="https://www.youtube.com/embed/Yz8s9tic_zs" frameborder="0"
                                        allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div><!-- container -->
                </div>
            </div>
        </div>
        <div id="hidden_pix_1" class="confirm_page confirm_page_1 pix_builder_bg">
            <div class="pixfort_normal_1">
                <div class="confirm_logo">
                    <span class="conf_img">
                        <img src="https://cdn.moveleiros.com.br/lp/images/video/confirm1.png" alt="">
                    </span>
                </div>
                <div class="confirm_header">
                    <span class="editContent">
                        <span class="pix_text">THANK YOU FOR SUBSCRIPTION</span>
                    </span>
                </div>
                <div class="confirm_text">
                    <span class="editContent">
                        <span class="pix_text">Our service is astonishingly thin and light.</span>
                    </span>
                </div>
                <div class="confirm_social">
                    <div class="confirm_social_box pix_builder_bg">
                        <a href="https://twitter.com/share" class="twitter-share-button" data-via="pixfort" data-count="none">Tweet</a>
                        <span class="confirm_gp">
                            <span class="g-plusone " data-size="medium" data-annotation="none"></span>
                        </span>
                        <div class="fb-like" data-href="http://themeforest.net/item/flatpack-landing-pages-pack-with-page-builder/10591107" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section_pointer" pix-name="video"></div><div class="dark" id="section_title_4_dark">
            <div id="quemsomos" class="big_padding pix_builder_bg tight-section" style="outline-offset: -3px;">
                <div class="container">
                    <div class="sixteen columns fit-content">
                        <div class="fit-item">
                            <a data-scroll href="#section_features_6" class="full-button pix_button bold_text small_button cta-button dark_yellow">
                                <span>SpecialDay</span>
                            </a>
                        </div>
                        <div class="fit-item">
                            <a data-scroll href="#section_features_6" class="full-button pix_button bold_text small_button cta-button dark_yellow">
                                <span>Realidade Virtual</span>
                            </a>
                        </div>
                        <div class="fit-item">
                            <a data-scroll href="#focomarketplace" class="full-button pix_button bold_text small_button cta-button dark_yellow">
                                <span>Marketplace</span>
                            </a>
                        </div>
                        <div class="fit-item">
                            <a data-scroll href="#focomarketplace" class="full-button pix_button bold_text small_button cta-button dark_yellow">
                                <span>Chat</span>
                            </a>
                        </div>

                    </div>

                    
                </div>
            </div>
        </div>
        <div class="" id="section_features_6">
            <div class="big_padding pix_builder_bg tight-section tight-section-mobile" style="outline-offset: -3px;">
                <div class="container">
                    <div class="sixteen columns">
                        <div class="eight columns onethird_style alpha">
                            <div class="f1_box pix_container">
                                <div class="margin_bottom ">
                                    <img src="https://cdn.moveleiros.com.br/lp/images/specialday.jpg" class="feature_image pix_radius" alt="">
                                </div>
                                <div class="margin_bottom">
                                    <span class="small_title bold_text">
                                        <span class="editContent" style=""><span class="pix_text">SpecialDay</span></span>
                                    </span>
                                    <br>
                                    <span class="editContent light_gray normal_text" style="">
                                        A primeira empresa do Brasil a lançar um evento de compra coletiva de móveis.<br>
                                        <span class="pix_text info" rel="">
                                            <strong>Lançamento:</strong> 2013<br>
                                            <strong>Consumidores:</strong> + de 1 milhão<br>
                                            <strong>Lojistas:</strong> + de 800
                                        </span><br>
                                        <span class="pix_text" rel="outline: medium none currentcolor; cursor: default;"></span>
                                    </span>
                                </div>
                                <div style="display: flex; justify-content: center;">
                                    <a data-scroll href="#chatform" class="pix_button bold_text small_button cta-button dark_yellow cta-centered">
                                        <span style="">Quero o SpecialDay</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="eight columns onethird_style alpha" style="margin-right: 0">
                            <div class="f1_box pix_container">
                                <div class="margin_bottom">
                                    <img src="https://cdn.moveleiros.com.br/lp/images/vrglass_1.jpg" class="feature_image" alt="">
                                </div>
                                <div class="margin_bottom">
                                    <span class="small_title bold_text">
                                        <span class="editContent" style=""><span class="pix_text">VR - Realidade Virtual</span></span>
                                    </span>
                                    <br>
                                    <span class="editContent light_gray normal_text" style="">
                                        A primeira empresa do Brasil a lançar óculos de realidade virtual para o setor.<br>
                                        <span class="pix_text info" rel="">
                                            <strong>Lançamento:</strong> 2017<br>
                                            <strong>Consumidores:</strong> + de 1 milhão<br>
                                            <strong>Lojistas:</strong> + de 800
                                        </span><br>
                                        <span class="pix_text" rel="outline: medium none currentcolor; cursor: default;">
                                        </span>
                                    </span>
                                </div>
                                <div style="display: flex; justify-content: center;">
                                    <a data-scroll href="#chatform" class="pix_button bold_text small_button cta-button dark_yellow cta-centered">
                                        <span style="">Quero o VR</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div><div class="" id="focomarketplace">
            <div class="big_padding pix_builder_bg padding_top_0 products-tight" style="outline-offset: -3px;">
                <div class="container" style="margin-bottom: 10px">
                    <div class="sixteen columns">
                        <div class="eight columns onethird_style alpha each-item">
                            <div class="f1_box pix_container">
                                <div class="margin_bottom ">
                                    <img src="https://cdn.moveleiros.com.br/lp/images/imagem_marketplace.jpg" class="feature_image pix_radius" alt="">
                                </div>
                                <div class="margin_bottom product-content">
                                    <span class="small_title bold_text">
                                        <span class="editContent" style="">Marketplace<span class="pix_text" rel="outline: medium none currentcolor; cursor: default;"></span></span>
                                    </span>
                                    <br>
                                    <span class="editContent light_gray normal_text" style="">
                                        A primeira empresa do Brasil a lançar um Marketplace exclusivo para o setor.<br>
                                        <span class="pix_text info" rel="">
                                            <strong>Lançamento:</strong> 2018<br>
                                            <strong>Fev/2018:</strong> 15.000 acessos/mês<br>
                                            <strong>Dez/2018:</strong> 1.500.000 acessos/mês
                                        </span><br>
                                    </span>
                                </div>
                                <div style="display: flex; justify-content: center;">
                                    <a data-scroll href="#chatform" class="pix_button bold_text small_button cta-button dark_yellow cta-centered">
                                        <span>Quero o Marketplace</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="eight columns onethird_style alpha" style="margin-right: 0">
                            <div class="f1_box pix_container">
                                <div class="margin_bottom">
                                    <img src="https://cdn.moveleiros.com.br/lp/images/imagem_chat.jpg" class="feature_image" alt="">
                                </div>
                                <div class="margin_bottom">
                                    <span class="small_title bold_text">
                                        <span class="editContent" style="">Chat<span class="pix_text" rel="outline: medium none currentcolor; cursor: default;"></span></span>
                                    </span>
                                    <br>
                                    <span class="editContent light_gray normal_text" style="">
                                        A primeira empresa do Brasil a lançar um Chat integrando consumidores e lojistas em tempo real.<br>
                                        <span class="pix_text info" rel="">
                                            <strong>Lançamento:</strong> 2018<br>
                                            <strong>Plataformas:</strong> Web | Android | iOS<br>
                                            <strong>O que muda:</strong> você 24 horas online
                                        </span><br>
                                        <span class="pix_text" rel="outline: medium none currentcolor; cursor: default;"></span>
                                    </span>
                                </div>
                                <div style="display: flex; justify-content: center;">
                                    <a data-scroll href="#chatform" class="pix_button bold_text small_button cta-button dark_yellow cta-centered">
                                        <span style="">Quero o Chat</span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- <div id="nossosclientes" class="pixfort_content_1 intro_1 pix_contents dark pix_builder_bg" id="section_intro_title_dark">
            <div class="container " >
                    <div class="sixteen columns">
                        <div class="intro_div">
                            <h2 class="editContent"></h2><h2 class="editContent">Marcas e Lojistas que confiam na Moveleiros</h2>
                            <p class="editContent">Nós fazemos parte da história de sucesso de muitos lojistas no Brasil.</p>
                        </div>
                    </div>
            </div>
        </div> -->

        <div id="nossosclientes" class="pixfort_pix_1" id="section_pix_1" style="background: #333;">
            <div class="tesi_style pix_builder_bg" style="padding: 20px 0 0">
                <div class="container">
                    <div class="sixteen columns">
                        <img src="https://cdn.moveleiros.com.br/lp/images/light-normal.png" alt="" class="q-icon">
                        <ul class="testimonials ticker_fade" style="height: 173px;">
                            <!-- First Testimonial -->
                            <!-- End of First Testimonial -->
                            <!-- Second Testimonial -->
                            <!-- End of Second Testimonial -->
                            <!-- Third Testimonial -->
                            <!-- End of Third Testimonial -->
                            <li>
                                <p class="quote-text editContent">
                                    <!-- Change to your text here -->
                                    A Moveleiros é para nós a perfeita definição de parceiros. Extremamente preocupados em nos atender de forma séria e eficaz e demonstra igual preocupação com os nossos clientes. A proatividade e disponibilidade da equipe Moveleiros é tão grande, que não se nota o esforço realizado para que seja feito o bom atendimento, embora seja óbvia a entrega extrema de todos para  alcançar o bom resultado. Seguiremos fortes em parceria, o nosso muito obrigado.
                                </p>
                                <div class="quote-dots">. . .</div>
                                <div class="quote-title editContent pix_text">
                                    <!-- Change title Here -->
                                    Augusto
                                </div>
                                <div class="quote-link editContent pix_text">
                                    <!-- Change Link Here -->
                                    Grupo Arbo - RJ
                                </div>

                            </li>
                            <li style="display: none;">
                                <p class="quote-text editContent">
                                    <!-- Change to your text here -->
                                    Sou parceiro da Moveleiros desde 2016 e de lá pra cá, só sucesso. Melhoramos muito o resultado da empresa com os eventos promovidos pela Moveleiros e estamos ansiosos pelo Marketplace. Muito satisfeito.
                                </p>
                                <div class="quote-dots">. . .</div>
                                <div class="quote-title editContent pix_text">
                                    <!-- Change title Here -->
                                    Henrique
                                </div>
                                <div class="quote-link editContent pix_text">
                                    <!-- Change Link Here -->
                                    Volpi Planejados - MG
                                </div>

                            </li>
                        </ul>
                    </div>
                </div><!-- container -->
            </div>
        </div>

        <div class="" id="section_clients_1_dark">
            <div class="big_padding dark pix_builder_bg" style="padding: 0px">
                <div class="container">

                    <div class="pix_inline_block center_text">
                        <div class="sixteen columns fix-logo-container">
                            <div class="one-third column alpha fix-logo-size">
                                <img src="https://cdn.moveleiros.com.br/lp/images/logos/logo_italinea.jpg" class="margin_vertical" alt="">
                            </div>
                            <div class="one-third column fix-logo-size">
                                <img src="https://cdn.moveleiros.com.br/lp/images/logos/MOVELEIROS-MARCAS-CASA-BRASILEIRA.jpg" class="margin_vertical" alt="">
                            </div>
                            <div class="one-third column omega fix-logo-size">
                                <img src="https://cdn.moveleiros.com.br/lp/images/logos/MOVELEIROS-MARCAS-TODESCHINI.jpg" class="margin_vertical" alt="">
                            </div>

                        </div>
                        <div class="sixteen column fix-logo-container">
                            <div class="one-third column alpha fix-logo-size">
                                <img src="https://cdn.moveleiros.com.br/lp/images/logos/MOVELEIROS-MARCAS-DELLANNO.jpg" class="margin_vertical img-align-bottom" alt="">
                            </div>
                            <div class="one-third column fix-logo-size">
                                <img src="https://cdn.moveleiros.com.br/lp/images/logos/MOVELEIROS-MARCAS-FAVORITA.jpg" class="margin_vertical img-align-bottom" alt="">
                            </div>
                            <div class="one-third column omega fix-logo-size">
                                <img src="https://cdn.moveleiros.com.br/lp/images/logos/MOVELEIROS-MARCAS-FINGER.jpg" class="margin_vertical img-align-bottom" alt="">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pixfort_party_15" id="chatform">
            <div class="container " style="margin-top: 0px">
                <div class="sixteen columns">
                    <div class="intro_div">
                        <h2 class="editContent"></h2>
                        <h2 class="editContent chat-text-cta" style="text-align: center">Experimente! Fale agora com a Moveleiros!</h2>
                    </div>
                </div>
            </div>
            <div id="form-contato" style="padding: 0" class="text_input pix_builder_bg">
                Carregando o Chat. Aguarde, por favor.
            </div>
        </div>

        <div id="hidden_pix_15" class="confirm_page confirm_page_15 pix_builder_bg">
            <div class="pixfort_party_15">
                <div class="confirm_header">
                    <span class="editContent">
                        <span class="pix_text">
                            Thank You Very Much!
                        </span>
                    </span>
                </div>
                <div class="confirm_text">
                    <span class="editContent">
                        <span class="pix_text">
                            Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt.
                        </span>
                    </span>
                </div>
                <div class="center_text padding_bottom_60">
                    <ul class="bottom-icons confirm_icons center_text big_title pix_inline_block">
                        <li><a class="pi pixicon-facebook6 white" href="#fakelink"></a></li>
                        <li><a class="pi pixicon-twitter6 white" href="#fakelink"></a></li>
                        <li><a class="pi pixicon-googleplus7 white" href="#fakelink"></a></li>
                    </ul>
                </div>
            </div>
        </div><div class="pix_builder_bg dark" id="section_footer_4_dark">
            <div class="footer3">
                <div class="container " style="display: flex; justify-content: center;">
                    <div class="six columns alpha offset-by-five" style="padding-left: 0px; margin-right: 0px;">
                        <div class="content_div center_text">
                            <ul class="bottom-icons center_text big_title " style="font-size: 40px !important;">
                                <li><a class="pi pixicon-facebook6 normal_gray" href="http://www.facebook.com/MoveleirosOficial" target="_blank"></a></li>
                                <li><a class="pi pixicon-googleplus7 normal_gray" style="margin-right: 0px" href="https://plus.google.com/+MoveleirosBR" target="_blank"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JavaScript
    ================================================== -->
    <script src="https://cdn.moveleiros.com.br/lp/js-files/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="https://cdn.moveleiros.com.br/lp/js-files/jquery.easing.1.3.js" type="text/javascript"></script>
    <script type="text/javascript" src="https://cdn.moveleiros.com.br/lp/js-files/jquery.common.min.js"></script>
     <script src="https://cdn.moveleiros.com.br/lp/js-files/ticker.js" type="text/javascript"></script> 
    <script src="https://cdn.moveleiros.com.br/lp/js-files/custom1.js" type="text/javascript"></script>
    <script src="https://cdn.moveleiros.com.br/lp/assets/js/smooth-scroll.min.js" type="text/javascript"></script>
    <script src="https://cdn.moveleiros.com.br/lp/assets/js/appear.min.js" type="text/javascript"></script>
    <script src="https://cdn.moveleiros.com.br/lp/js-files/jquery.ui.touch-punch.min.js"></script>
    <script src="https://cdn.moveleiros.com.br/lp/js-files/bootstrap.min.js"></script>
    <script src="https://cdn.moveleiros.com.br/lp/js-files/bootstrap-switch.js"></script>
    <script src="https://cdn.moveleiros.com.br/lp/js-files/custom3.js" type="text/javascript"></script>


    <script src="https://cdn.moveleiros.com.br/lp/assets/js/appear.min.js" type="text/javascript"></script>
    <script src="https://cdn.moveleiros.com.br/lp/assets/js/animations.js" type="text/javascript"></script>

    <script>
        var scroll = new SmoothScroll('a[href*="#"]');
    </script>

    <script>
        (function (w, d, s, u) {
            w.MoveleirosChat = {}; w.MoveleirosChat.iframeUrl = u;
            w.MoveleirosChat.ci = true; w.MoveleirosChat.dt = '#form-contato';
            var h = d.getElementsByTagName(s)[0], j = d.createElement(s);
            j.async = true; j.src = 'https://chat.moveleiros.com.br/external-plugin.js';
            h.parentNode.insertBefore(j, h);
        })(window, document, 'script',
            'https://chat.moveleiros.com.br/#/livechat?relogin=true&storeId=3340');

        $(function () {
            window.MoveleirosChat = window.MoveleirosChat || {};
            MoveleirosChat.setDefaultValues({
                autoFocus: false,
                extra: {
                    origem: 'Pense Diferente LP',
                }
            });
        })();
    </script>

    <script>
    </script>

    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-PQSLLR"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PQSLLR');
    </script>

</body>
</html>
