﻿@model ProductModel

<div class="panel-group">
    @if (Model.Id > 0)
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="productcolors-grid"></div>

                <script>
                $(document).ready(function() {
                    $("#productcolors-grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("ProductColorList", "Product", new {productId = Model.Id}))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                },
                                update: {
                                    url: "@Html.Raw(Url.Action("ProductColorUpdate", "Product"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                },
                                destroy: {
                                    url: "@Html.Raw(Url.Action("ProductColorDelete", "Product"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: addAntiForgeryToken
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors",
                                model: {
                                    id: "Id",
                                    fields: {
                                        PictureUrl: { editable: false, type: "string" },
                                        DisplayOrder: { editable: true, type: "number" },
                                        OverrideAltAttribute: { editable: true, type: "string" },
                                        OverrideTitleAttribute: { editable: true, type: "string" }
                                    }
                                }
                            },
                            requestEnd: function(e) {
                                if (e.type == "update") {
                                    this.read();
                                }
                            },
                            error: function(e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            numeric: false,
                            previousNext: false,
                            info: false,
                            @Html.Partial("_GridPagerMessages")
                        },
                        editable: {
                            confirmation: "@T("Admin.Common.DeleteConfirmation")",
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [
                            {
                                field: "PictureUrl",
                                title: "@T("Admin.Catalog.Products.Pictures.Fields.Picture")",
                                template: '<a href="#=PictureUrl#" target="_blank"><img alt="#=PictureId#" src="#=PictureUrl#" width="150" /></a>',
                                width: 200
                            }, {
                                field: "DisplayOrder",
                                title: "@T("Admin.Catalog.Products.Pictures.Fields.DisplayOrder")",
                                //integer format
                                format: "{0:0}",
                                width: 150
                            }, {
                                field: "OverrideAltAttribute",
                                title: "@T("Admin.Catalog.Products.Pictures.Fields.OverrideAltAttribute")",
                                width: 200
                            }, {
                                field: "OverrideTitleAttribute",
                                title: "@T("Admin.Catalog.Products.Pictures.Fields.OverrideTitleAttribute")",
                                width: 200
                            }, {
                                command: [
                                    {
                                        name: "edit",
                                        text: {
                                            edit: "@T("Admin.Common.Edit")",
                                            update: "@T("Admin.Common.Update")",
                                            cancel: "@T("Admin.Common.Cancel")"
                                        }
                                    }, {
                                        name: "destroy",
                                        text: "@T("Admin.Common.Delete")"
                                    }
                                ],
                                width: 200
                            }
                        ]
                    });
                });
                </script>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                @T("Admin.Catalog.Products.Pictures.AddNew")
            </div>
            <div class="panel-body">
                <script type="text/javascript">
                $(document).ready(function() {
                    $('#addProductColor').click(function() {
                        var pictureId = $("#@Html.FieldIdFor(model => model.AddPictureColorModel.PictureId)").val();
                        var overrideAltAttribute = $("#@Html.FieldIdFor(model => model.AddPictureColorModel.OverrideAltAttribute)").val();
                        var overrideTitleAttribute = $("#@Html.FieldIdFor(model => model.AddPictureColorModel.OverrideTitleAttribute)").val();
                        var displayOrder = $("#@Html.FieldIdFor(model => model.AddPictureColorModel.DisplayOrder)").val();

                        if (pictureId == 0) {
                            alert('Upload picture first');
                            return;
                        }

                        $('#addProductColor').attr('disabled', true);

                        var postData = {
                            pictureId: pictureId,
                            displayOrder: displayOrder,
                            overrideAltAttribute: overrideAltAttribute,
                            overrideTitleAttribute: overrideTitleAttribute,
                            productId: @Model.Id
                        };
                        addAntiForgeryToken(postData);

                        $.ajax({
                            cache: false,
                            type: "POST",
                            url: "@(Url.Action("ProductColorAdd", "Product"))",
                            data: postData,
                            success: function(data) {
                                var grid = $("#productcolors-grid");
                                grid.data('kendoGrid').dataSource.read();
                                $('#addProductColor').attr('disabled', false);
                            },
                            error: function(xhr, ajaxOptions, thrownError) {
                                alert('Failed to add product picture.');
                                $('#addProductColor').attr('disabled', false);
                            }
                        });
                    });
                });
                </script>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.AddPictureColorModel.PictureId)
                    </div>
                    <div class="col-md-9">
                        @*@Html.NopEditorFor(model => model.AddPictureColorModel.PictureId)*@
                        @Html.EditorFor(model => model.AddPictureColorModel.PictureId, "ColorPicture")
                        @Html.ValidationMessageFor(model => model.AddPictureColorModel.PictureId)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.AddPictureColorModel.OverrideAltAttribute)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AddPictureColorModel.OverrideAltAttribute)
                        @Html.ValidationMessageFor(model => model.AddPictureColorModel.OverrideAltAttribute)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.AddPictureColorModel.OverrideTitleAttribute)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AddPictureColorModel.OverrideTitleAttribute)
                        @Html.ValidationMessageFor(model => model.AddPictureColorModel.OverrideTitleAttribute)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.AddPictureColorModel.DisplayOrder)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AddPictureColorModel.DisplayOrder)
                        @Html.ValidationMessageFor(model => model.AddPictureColorModel.DisplayOrder)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <button type="button" id="addProductColor" class="btn btn-primary">@T("Moveleiros.Admin.Catalog.Products.Colors.AddButton")</button>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="panel panel-default">
            <div class="panel-body">
                @T("Moveleiros.Admin.Catalog.Products.Colors.SaveBeforeEdit")
            </div>
        </div>
    }
</div>
