﻿@model ProductModel

<div class="panel-group">
    @if (Model.Id > 0)
    {
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="productpictures-grid"></div>

                <script>
                    $(document).ready(function() {
                        $("#productpictures-grid").kendoGrid({
                            dataSource: {
                                type: "json",
                                transport: {
                                    read: {
                                        url: "@Html.Raw(Url.Action("ProductPictureList", "Product", new {productId = Model.Id}))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    },
                                    update: {
                                        url: "@Html.Raw(Url.Action("ProductPictureUpdate", "Product"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    },
                                    destroy: {
                                        url: "@Html.Raw(Url.Action("ProductPictureDelete", "Product"))",
                                        type: "POST",
                                        dataType: "json",
                                        data: addAntiForgeryToken
                                    }
                                },
                                schema: {
                                    data: "Data",
                                    total: "Total",
                                    errors: "Errors",
                                    model: {
                                        id: "Id",
                                        fields: {
                                            PictureUrl: { editable: false, type: "string" },
                                            DisplayOrder: { editable: true, type: "number" },
                                            OverrideAltAttribute: { editable: true, type: "string" },
                                            OverrideTitleAttribute: { editable: true, type: "string" },
                                            IsPanorama: { editable: false, type: "boolean" }


                                        }
                                    }
                                },
                                requestEnd: function(e) {
                                    if (e.type == "update") {
                                        this.read();
                                    }
                                },
                                error: function(e) {
                                    display_kendoui_grid_error(e);
                                    // Cancel the changes
                                    this.cancelChanges();
                                },
                                serverPaging: true,
                                serverFiltering: true,
                                serverSorting: true
                            },
                            pageable: {
                                refresh: true,
                                numeric: false,
                                previousNext: false,
                                info: false,
                                @Html.Partial("_GridPagerMessages")
                            },
                            editable: {
                                confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                mode: "inline"
                            },
                            scrollable: false,
                            columns: [
                            {
                                field: "PictureUrl",
                                title: "@T("Admin.Catalog.Products.Pictures.Fields.Picture")",
                                template: '<a href="#=PictureUrl#" target="_blank"><img alt="#=PictureId#" src="#=PictureUrl#" width="150" /></a>',
                                width: 200
                            }, {
                                field: "DisplayOrder",
                                title: "@T("Admin.Catalog.Products.Pictures.Fields.DisplayOrder")",
                                //integer format
                                format: "{0:0}",
                                width: 150
                            }, {
                                field: "OverrideAltAttribute",
                                title: "@T("Admin.Catalog.Products.Pictures.Fields.OverrideAltAttribute")",
                                width: 200
                            }, {
                                field: "OverrideTitleAttribute",
                                title: "@T("Admin.Catalog.Products.Pictures.Fields.OverrideTitleAttribute")",
                                width: 200
                            }, {
                                field: "IsPanorama",
                                title: "@T("Moveleiros.Admin.Catalog.Products.Pictures.Fields.Panorama")",
                                width: 100,
                                headerAttributes: { style: "text-align:center" },
                                attributes: { style: "text-align:center" },
                                template: '# if(IsPanorama) {# <i class="fa fa-check true-icon"></i> #} else {# <i class="fa fa-close false-icon"></i> #} #'
                            }, {
                                command: [
                                {
                                    name: "edit",
                                    text: {
                                        edit: "@T("Admin.Common.Edit")",
                                        update: "@T("Admin.Common.Update")",
                                        cancel: "@T("Admin.Common.Cancel")"
                                    }
                                }, {
                                    name: "destroy",
                                    text: "@T("Admin.Common.Delete")"
                                }
                                ],
                                width: 200
                            }
                            ]
                        });
                    });
                </script>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                @T("Admin.Catalog.Products.Pictures.AddNew")
            </div>
            <div class="panel-body">
                <script type="text/javascript">
                    $(document).ready(function() {
                        $('#addProductPicture').click(function () {

                            var picEl = $("#@Html.FieldIdFor(model => model.AddPictureModel.PictureId)");
                            var overrideAltEl = $("#@Html.FieldIdFor(model => model.AddPictureModel.OverrideAltAttribute)");
                            var overrideTitleEl = $("#@Html.FieldIdFor(model => model.AddPictureModel.OverrideTitleAttribute)");
                            var displayOrderEl = $("#@Html.FieldIdFor(model => model.AddPictureModel.DisplayOrder)");
                            var panoramaEl = $("#@Html.FieldIdFor(model => model.AddPictureModel.IsPanorama)");

                            var pictureId = picEl.val();
                            var overrideAltAttribute = overrideAltEl.val();
                            var overrideTitleAttribute = overrideTitleEl.val();
                            var displayOrder = displayOrderEl.val();
                            var isPanorama = panoramaEl.is(":checked");

                            if (pictureId == 0) {
                                alert('Upload picture first');
                                return;
                            }

                            $('#addProductPicture').attr('disabled', true);

                            var postData = {
                                pictureId: pictureId,
                                displayOrder: displayOrder,
                                overrideAltAttribute: overrideAltAttribute,
                                overrideTitleAttribute: overrideTitleAttribute,
                                productId: @Model.Id,
                                isPanorama: isPanorama
                            };

                            addAntiForgeryToken(postData);

                            $.ajax({
                                cache: false,
                                type: "POST",
                                url: "@(Url.Action("ProductPictureAdd", "Product"))",
                                data: postData,
                                success: function(data) {
                                    var grid = $("#productpictures-grid");
                                    grid.data('kendoGrid').dataSource.read();
                                    $('#addProductPicture').attr('disabled', false);

                                    overrideAltEl.val('');
                                    overrideTitleEl.val('');
                                    panoramaEl.attr('checked', '');
                                    displayOrderEl.val('0');
                                },
                                error: function(xhr, ajaxOptions, thrownError) {
                                    alert('Failed to add product picture.');
                                    $('#addProductPicture').attr('disabled', false);
                                }
                            });
                        });
                    });
                </script>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.AddPictureModel.PictureId)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AddPictureModel.PictureId)
                        @Html.ValidationMessageFor(model => model.AddPictureModel.PictureId)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.AddPictureModel.OverrideAltAttribute)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AddPictureModel.OverrideAltAttribute)
                        @Html.ValidationMessageFor(model => model.AddPictureModel.OverrideAltAttribute)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.AddPictureModel.OverrideTitleAttribute)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AddPictureModel.OverrideTitleAttribute)
                        @Html.ValidationMessageFor(model => model.AddPictureModel.OverrideTitleAttribute)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.AddPictureModel.DisplayOrder)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AddPictureModel.DisplayOrder)
                        @Html.ValidationMessageFor(model => model.AddPictureModel.DisplayOrder)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.AddPictureModel.IsPanorama)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.AddPictureModel.IsPanorama)
                        @Html.ValidationMessageFor(model => model.AddPictureModel.IsPanorama)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <button type="button" id="addProductPicture" class="btn btn-primary">@T("Admin.Catalog.Products.Pictures.AddButton")</button>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="panel panel-default">
            <div class="panel-body">
                @T("Admin.Catalog.Products.Pictures.SaveBeforeEdit")
            </div>
        </div>
    }
</div>
