﻿@model BrandModel

@{
    //page title
    ViewBag.Title = T("Moveleiros.Admin.Catalog.Brands.AddNew").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Brands");
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "brand-form" }))
{
    @Html.AntiForgeryToken()
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Moveleiros.Admin.Catalog.Brands.AddNew")
            <small><i class="fa fa-arrow-circle-left"></i>@Html.ActionLink(T("Moveleiros.Admin.Catalog.Brands.BackToList").Text, "List")</small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
        </div>
    </div>
    @Html.Partial("_CreateOrUpdate", Model)
}
