﻿.flex-reset
	img
		position relative !important
		max-width 100% !important
		max-height none !important
		display flex !important
		margin 0 !important

	.picture
		margin 0 !important

	.details
		margin 0 !important
		padding 0 !important

	.mov-price-comparison
		margin 0 !important
		padding 0 !important
		border 0 !important
		width auto !important