﻿@model List<Nop.Web.Models.City.AutocompleteModel>

@foreach (var city in Model)
{
    <div class="autocomplete__city" onclick="$('.autocomplete__input').val('@city.Value'); setLastCity('@city.Value'); setFilterTimer(null, 10); $('.cities-autocomplete').slideUp();">@Html.Raw(city.ShowText)</div>
}
