﻿.page-title
	padding 0
	display flex
	flex-direction column
	justify-content flex-start
	text-align left !important

	h1
		padding 0

section
	margin-bottom 20px

.page-body
	display flex

	.content
		flex 1
		.about
			margin 0
			text-align left

	aside
		width 300px
		margin-left 20px
		display flex
		flex-direction column
		*
			padding 0
		.customer-not-satisfied
			margin-top 20px

		.mov-cta-customization
			display inline-block
			height 40px
			color #fff
			font-size 1em
			text-transform uppercase
			border 0
			margin-top 5px

.btn
	display inline-block
	height 40px
	text-align center
	font-size .8em
	border-radius 4px
	line-height 37px
	border 1px solid darken(#fff, 5)
	font-weight 600
	box-shadow 0 2px 4px 0 rgba(0,0,0,.32), 0 0 6px 0 rgba(0,0,0,.14)

	&:hover
		background darken(#fff, 5)
		color darken(#777, 2)
		box-shadow 2px 4px 4px 0px rgba(0,0,0,.22), 0 0 6px 0 rgba(0,0,0,.14)

.btn-white
	background #fff

.btn-block
	width 100%

#map
	width 100%
	height 300px
	margin-top 15px

.margin-top-mobile
	margin-top 20px

@media (max-width: 768px)
	.page-title
		text-align center !important
	.page-body
		flex-direction column
		text-align center
		aside
			margin-top 20px
			margin-left 0
			width 100%
	.about
		text-align center !important