﻿@model StoreMappingModel

@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.EntityId)
                            </div>
                            <div class="col-md-9">
                                @Html.DropDownList("EntityId", Model.AvailableCustomers)
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.EntityName)
                            </div>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.EntityName)
                                @Html.ValidationMessageFor(model => model.EntityName)
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.StoreId)
                            </div>
                            <div class="col-md-9">
                                @Html.DropDownList("StoreId", Model.AvailableStores)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>