﻿@model StoreMappingModel
@{
    ViewBag.Title = T("Admin.Configuration.StoresMapping").Text;
    Html.SetActiveMenuItemSystemName("StoreMapping");

    var defaultGridPageSize = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().DefaultGridPageSize;
    var gridPageSizes = EngineContext.Current.Resolve<Nop.Core.Domain.Common.AdminAreaSettings>().GridPageSizes;
}
@Html.AntiForgeryToken()

<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Configuration.StoresMapping")
    </h1>
    <div class="pull-right">
        <a href="@Url.Action("Create")" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">

            <div class="panel panel-default panel-search">
                <div class="panel-body">
                    <div class="row">

                        <div class="col-xs-12">
                            <div class="form-group">
                                <div class="col-md-2">
                                    @Html.NopLabelFor(model => model.StoreName)
                                </div>
                                <div class="col-md-8">
                                    @Html.NopEditorFor(model => model.StoreName)
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <div class="form-group">
                                <div class="col-md-2">
                                    @Html.NopLabelFor(model => model.RemoveCustomerProfile)
                                </div>
                                <div class="col-md-8">
                                    @Html.NopEditorFor(model => model.RemoveCustomerProfile)
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-2">
                                    <button type="button" id="search-stores-mapping" class="btn btn-primary btn-search">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="storemapping-grid"></div>
                    <script>
    $(document).ready(function () {
        $("#storemapping-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "StoreMapping"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function(e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                        },
                pageSize: @(defaultGridPageSize),
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            pageable: {
                refresh: true,
                pageSizes: [@(gridPageSizes)],
                @Html.Partial("_GridPagerMessages")
            },
            editable: {
                confirmation: false,
                mode: "inline"
            },
            scrollable: false,
            columns: [{
                field: "UserName",
                title: "@T("Admin.Configuration.Stores.Fields.UserName")"
            }, {
                field: "StoreName",
                title: "@T("Admin.Configuration.Stores.Fields.StoreName")",
                width: 300,
            },{
                field: "StoreUrl",
                title: "@T("Admin.Configuration.Stores.Fields.StoreUrl")",
                width: 200,
           },{
                field: "EntityName",
                title: "@T("Admin.Configuration.Stores.Fields.EntityName")",
                width: 200,
          },{
                field: "Id",
                title: "@T("Admin.Common.Edit")",
                width: 100,
                template: '<a href="Edit/#=Id#">@T("Admin.Common.Edit")</a>'
            }]
        });
    });
                    </script>

                    <script type="text/javascript">
                        $(document).ready(function() {
                            //search button
                            $('#search-stores-mapping').click(function() {
                                //search
                                var grid = $('#storemapping-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                //grid.dataSource.read(); we already loaded the grid above using "page" function
                                return false;
                            });

                            $("#@Html.FieldIdFor(model => model.StoreName)")
                                .keydown(function (event) {
                                    if (event.keyCode == 13) {
                                        $("#search-stores-mapping").click();
                                        return false;
                                    }
                                });
                        });

                        function additionalData() {
                            var data = {
                                StoreName: $('#@Html.FieldIdFor(model => model.StoreName)').val(),
                                RemoveCustomerProfile: $('#@Html.FieldIdFor(model => model.RemoveCustomerProfile)')[0].checked
                            };
                            addAntiForgeryToken(data);
                            return data;
                        }
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>

